<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ shop.name }}</title>
    
    <!-- Favicon -->
    {% comment %} <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon"> {% endcomment %}
  
    {% comment %} <!-- Estilos -->
    {{ 'style.css' | asset_url | stylesheet_tag }}
  
    <!-- Scripts -->
    
   {{ 'script.js' | asset_url | script_tag }}
   {% endcomment %}

    <!-- Shopify Necessário -->
    {{ content_for_header }}
  </head>

  <body>
    <!-- Cabeçalho -->
    {% section 'header' %}
  
    <!-- Conteúdo Dinâmico -->
    {{ content_for_layout }}
  
    <!-- Rodapé -->
    {% section 'footer' %}
  </body>
  </html>